@import "fonts";
@import "base";
@import "z-index";

body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}

.header {
  background: #FFFFFF;
  padding: 23px 0 27px 0;
}

.header-top {
  display: flex;
  align-items: center;
}

.header-contacts {
  display: flex;
  margin-left: auto;
}

.header-phone {
  font-weight: 400;
  font-size: 12px;
  line-height: 130%;
  color: #7A7A7A;
  margin-right: 40px;
}

.header-phone:hover {
  color: #7A7A7A;
}

.header-email {
  font-weight: 400;
  font-size: 12px;
  line-height: 130%;
  text-decoration-line: underline;
  color: #7A7A7A;
  margin-right: 33px;
}

.header-email:hover {
  color: #7A7A7A;
}

.header-main {
  margin-top: 30px;
}

.header-main-inner {
  display: flex;
  align-items: center;
}

.main-nav {
  display: flex;
  height: fit-content;
}

.main-nav-item {
  height: fit-content;
  line-height: 100%;
  position: relative;
}

.main-nav-item + .main-nav-item {
  margin-left: 75px;
}

.main-nav-item.active {
  .main-nav-link {
    color: #252831;
  }
  .main-nav-link:after {
    opacity: 1;
    visibility: visible;
  }
  .dropdown-content {
    display: block;
  }
  .dropdown-content.lg-dropdown {
    display: flex;
  }
}

.main-nav-link {
  font-size: 14px;
  line-height: 17px;
  color: #7A7A7A;
  position: relative;
  transition: 0.2s ease;
  display: inline-block;
  padding-bottom: 5px;
  font-weight: 500;
}

.main-nav-link:hover {
  color: #7A7A7A;
}

.main-nav-link:after {
  content: '';
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% + 10px);
  height: 2px;
  background: #B8213C;
  position: absolute;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s ease;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background: #FFFFFF;
  min-width: 170px;
  z-index: 1;
  padding: 30px 40px 40px 40px;
}

.dropdown-content.lg-dropdown {
  left: calc(50% + 30px);
}

.dropdown-content .dropdown-content-col + .dropdown-content-col {
  margin-left: 40px;
}

.dropdown-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #252831;
  white-space: nowrap;
  display: inline-block;
}

.dropdown-link.dropdown-link-title {
  color: #7A7A7A;
}

.dropdown-link + .dropdown-link {
  margin-top: 20px;
}

.switch-lang {
  display: flex;
  margin-left: auto;
}

.switch-lang li {
  line-height: 100%;
}

.switch-lang a {
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  color: #252831;
}

.switch-lang a.active {
  color: #B8213C;
}

.switch-lang li + li {
  margin-left: 10px;
}

.toggle-mobile-menu {
  display: none;
}

.footer-main {
  background: #29417E;
  padding: 47px 0 67px 0;
}

.footer-row {
  display: flex;
  justify-content: space-between;
}

.footer-col {
  width: fit-content;
}

.footer-col-title p {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
}

.footer-col-list {
  margin-top: 15px;
}

.footer-col-list li + li {
  margin-top: 15px;
}

.footer-col-list a, .footer-col-list p {
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  color: #FFFFFF;
  display: block;
  width: fit-content;
  transition: 0.2s ease;
}

.footer-col-list a.underline {
  text-decoration: underline;
}

.footer-callback {
  margin-top: 55px;
  border: 1px solid #FFFFFF;
  padding: 15px 25px;
  border-radius: 100px;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  color: #FFFFFF;
  background: transparent;
  transition: 0.2s ease;
  display: block;
}

.footer-copyright {
  background: #3F5692;
  padding: 14px 16px;
}

.footer-copyright p {
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  color: #FFFFFF;
  width: fit-content;
  margin: 0 auto;
}



.main-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page-wrapper {
  flex: 1;
  background: #F4F3EF;
  position: relative;
  overflow-x: hidden;
}

.promo {
  background: #F4F3EF;
  position: relative;
}

.promo-caption {
  padding: 136px 0 104px 0;
  max-width: 540px;
}

.promo-caption h1 {
  font-weight: 600;
  font-size: 50px;
  line-height: 65px;
  color: #252831;
}

.promo-caption p {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #252831;
  margin-top: 42px;
}

.promo-caption .btn {
  margin-top: 34px;
}

.promo-animation {
  position: absolute;
  right: 0;
  top: 0;
  width: 59%;
  height: 0;
  padding-bottom: 39.5%;
}

.bridge {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
  z-index: 2;
}

.ship {
  position: absolute;
  width: 17%;
  height: auto;
  object-fit: contain;
  z-index: 1;
  animation-name: ship;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  pointer-events: none;
}

@keyframes ship {
  from {transform: translate(580%, -65%) rotate(-4deg)}
  to {transform: translate(-270%, 750%) rotate(-4deg)}
}

.train {
  z-index: 3;
  position: absolute;
  width: 50%;
  height: auto;
  object-fit: contain;
  animation-name: train;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  pointer-events: none;

}

@keyframes train {
  from {transform: translate(-108%, -100%)}
  to {transform: translate(211%, 200%)}
}

.air-plane {
  z-index: 4;
  position: absolute;
  width: 20.5%;
  height: auto;
  object-fit: contain;
  animation-name: plain;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  pointer-events: none;
}

@keyframes plain {
  from {transform: translate(550%, 270%) rotate(4deg)}
  to {transform: translate(-400%, -110%) rotate(4deg)}
}

.feedback-container {
  background: #FFFFFF;
  padding: 50px 70px 60px 70px;
}

.feedback-container-title h5 {
  font-weight: 600;
  font-size: 22px;
  line-height: 135%;
  color: #252831;
}

.feedback-container-title {
  margin-bottom: 40px;
}

.feedback-container-form .col {
  padding: 0 10px;
}

.feedback-container-form .row {
  margin: 0 -10px;
}

.icon-plus {
  background: url("../img/icon/plus.svg");
  width: 15px;
  height: 15px;
}

.country-section {
  padding: 60px 0 110px 0;
  position: relative;
}

.country-card-list {
  display: flex;
  margin: 0 -15px;
  width: calc(100% + 30px);
}

.country-card {
  display: flex;
  flex-direction: column;
  width: calc(33.3% - 30px);
  margin: 0 15px;
  height: auto;
}

.country-card-img {
  width: 100%;
  height: 230px;
  overflow: hidden;
  position: relative;
}

.country-card-img img:not(.country-card-flag) {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.country-card-flag {
  position: absolute;
  top: 0;
  right: 0;
  height: 47px;
  width: auto;
  max-width: 75px;
  object-fit: contain;
}

.country-card-caption {
  padding: 30px ;
  background: #fff;
  flex: 1;
}

.country-card-caption-top {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.country-card-name {
  margin-right: auto;
  margin-bottom: 25px;
}

.country-card-name p {
  font-weight: 500;
  font-size: 24px;
  line-height: 135%;
  color: #252831;
}

.country-card-meta {
  display: flex;
  height: fit-content;
  line-height: 100%;
  margin-bottom: 25px;
}

.country-card-meta li + li {
  margin-left: 12px;
}

.country-card-meta li {
  padding: 8px 10px;
  border-radius: 100px;
  font-weight: 500;
  font-size: 10px;
  line-height: 10px;
  height: fit-content;
  display: block;
}

.country-card-meta li.success {
  background: #E8E896;
  color: #6B5A1E;
}

.country-card-meta li.danger {
  background: #FFC8C8;
  color: #AC2F2F;
}

.country-card-detail li {
  position: relative;
  padding-left: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 135%;
  color: #7A7A7A;
}

.country-card-detail li:before {
  content: '';
  background: url("../img/icon/check-circle-blue.svg") no-repeat center/contain;
  width: 18px;
  height: 18px;
  position: absolute;
  left: 0;
  top: 0;
}

.country-card-detail li + li {
  margin-top: 20px;
}

.country-card-countries {
  margin-bottom: 20px;
}

.country-card-countries p {
  font-weight: 400;
  font-size: 14px;
  line-height: 135%;
  color: #252831;
}

.services-section {
  background: url("../img/main/service-section-bg.png") no-repeat center/cover;
  padding: 90px 0 100px 0;
  position: relative;
}

.section-title {
  margin-bottom: 70px;
  max-width: 815px;
  margin-left: auto;
  margin-right: auto;
}

.section-title h5 {
  font-weight: 600;
  font-size: 28px;
  line-height: 135%;
  text-align: center;
  color: #252831;
}

.section-title h5.light {
  color: #FFFFFF;
}

.section-title p {
  font-weight: 400;
  font-size: 16px;
  line-height: 135%;
  color: #7A7A7A;
  margin-top: 20px;
  text-align: center;
}

.service-card-list {
  margin: 0 -15px;
  width: calc(100% + 30px);
}

.service-card {
  height: auto;
  display: flex;
  flex-direction: column;
  width: calc(33.3% - 30px);
  margin: 0 15px;
}

.service-card-img {
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.service-card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.service-card-caption {
  background: #fff;
  padding: 30px 50px 50px 50px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.service-card-name h6 {
  font-weight: 500;
  font-size: 22px;
  line-height: 135%;
  color: #252831;
}

.service-card-desc {
  margin-top: 30px;
  margin-bottom: 45px;
}

.service-card-desc li {
  position: relative;
  padding-left: 22px;
  font-weight: 400;
  font-size: 14px;
  line-height: 135%;
  color: #7A7A7A;
}

.service-card-desc li + li {
  margin-top: 20px;
}

.service-card-desc li:before {
  content: '';
  position: absolute;
  left: 0;
  top: 2.5px;
  background: url("../img/icon/check-circle-blue-14.svg") no-repeat center/contain;
  width: 14px;
  height: 14px;
}

.service-card-caption .btn {
  margin: auto auto 0 auto;
}

.product-section {
  padding: 115px 0 65px 0;
}

.product-card {
  height: 475px;
  position: relative;
  display: flex;
  align-items: flex-end;
}

.product-card-img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #D9D9D9;
}

.product-card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-card-number {
  position: absolute;
  left: 22px;
  top: 17px;
  font-weight: 500;
  font-size: 32px;
  line-height: 135%;
  color: #FFFFFF;
}

.product-card-caption {
  padding: 20px 40px;
  background: #fff;
  display: flex;
  align-items: center;
  min-height: 95px;
  position: relative;
  width: 100%;
}

.product-card-caption p {
  font-weight: 600;
  font-size: 18px;
  line-height: 135%;
  color: #252831;
}



.product-slider-wrapper {
  position: relative;
}

.product-slider-prev {
  position: absolute;
  left: -60px;
  top: 50%;
  transform: translateY(-50%);
}


.product-slider-next {
  position: absolute;
  right: -60px;
  top: 50%;
  transform: translateY(-50%);
}

.product-section-more-link {
  margin: 60px auto 0 auto;
}

.containers-section {
  padding-top: 60px;
}

.container-card {
  background: #FFFFFF;
  padding: 40px 25px 65px 25px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 435px;
}

.container-card b {
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #252831;
}

.container-card p {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  text-align: center;
  color: #7A7A7A;
  margin-top: 30px;
  margin-bottom: 40px;
}

.container-card img {
  margin: auto auto 0 auto;
  max-width: 100%;
}

.feedback-card {
  background: #FFFFFF;
  height: 100%;
  padding: 40px 50px 50px 50px;
  display: flex;
  flex-direction: column;
}

.feedback-card-title h5 {
  font-weight: 600;
  font-size: 16px;
  line-height: 135%;
  text-align: center;
  color: #252831;
}

.feedback-card-title p {
  font-weight: 400;
  font-size: 12px;
  line-height: 135%;
  text-align: center;
  color: #7A7A7A;
  margin-top: 10px;
}

.feedback-card-form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.feedback-card-form .form-control + .form-control {
  margin-top: 10px;
}

.feedback-card-form .btn {
  margin-top: auto;
  width: 100%;
}

.cargo-train-section {
  padding: 55px 0 85px 0;
}

.description-container {
  display: flex;
}

.description-container-img {
  width: 470px;
  flex-shrink: 0;
  overflow: hidden;
}

.description-container-img img {
  width: 100%;
  height: 100%;
  max-height: 700px;
  object-fit: cover;
}

.description-container-caption {
  flex: 1;
  background: #fff;
  padding: 60px 50px 60px 100px;
}

.description-container-title {
  margin-bottom: 25px;
}

.description-container-title h5 {
  font-weight: 600;
  font-size: 24px;
  line-height: 135%;
  color: #252831;
}

.description-container-desc {
  margin-bottom: 25px;
}

.description-container-desc p {
  font-weight: 400;
  font-size: 14px;
  line-height: 135%;
  color: #252831;
}

.description-container-advantages {
  margin-bottom: 35px;
}

.description-container-advantages li {
  font-weight: 400;
  font-size: 12px;
  line-height: 135%;
  color: #252831;
  padding-left: 40px;
  position: relative;
}

.description-container-advantages li + li {
  margin-top: 20px;
}

.description-container-advantages li:before {
  content: '';
  background: url("../img/icon/check-circle-red.svg") no-repeat center/contain;
  width: 26px;
  height: 26px;
  position: absolute;
  left: 0;
  top: -6px;
}

.solution-section {
  padding: 115px 0;
}

.solution-card {
  background: #EEECE4;
  padding: 60px 30px 50px 30px;
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  min-height: 495px;
}

.solution-card img {
  margin-bottom: 30px;
}

.solution-card h6 {
  font-weight: 600;
  font-size: 22px;
  line-height: 135%;
  text-align: center;
  color: #252831;
  margin-bottom: 20px;
}

.solution-card p {
  font-weight: 400;
  font-size: 14px;
  line-height: 135%;
  text-align: center;
  color: #7A7A7A;
  margin-bottom: 35px;
}

.solution-card .btn {
  margin-top: auto;
}

.tariff-feedback-section {
  padding: 60px 0 100px 0;
}

.tariff-feedback-section .section-title .btn {
  display: none;
}

.tariff-feedback-container {
  background: #FFFFFF;
  padding: 60px 70px 85px 70px;
  display: flex;
}

.tariff-feedback-container-left, .tariff-feedback-container-right {
  width: calc(50% - 35px);
}

.tariff-feedback-container-left {
  margin-right: 35px;
}

.tariff-feedback-container-right {
  margin-left: 35px;
}

.tariff-feedback-container .form-container {
  margin-bottom: 20px;
}

.tariff-feedback-container .form-control {
  margin-bottom: 20px;
}

.select-additional-services {
  display: flex;
  flex-wrap: wrap;
}

.select-additional-services .radio-form + .radio-form {
  margin-right: 20px;
  margin-bottom: 10px;
}

.select-additional-services .radio-form:first-of-type {
  margin-right: 20px;
  margin-bottom: 10px;
}

.tariff-feedback-container-tools {
  display: flex;
  align-items: center;
}

.upload-form-container {
  display: flex;
}

.upload-form-container .upload-form + .upload-form {
  margin-left: 16px;
}

.tariff-feedback-container-tools .btn {
  margin-left: auto;
  min-width: 230px;
}

.about-section {
  padding-top: 60px;
}

.advantage-card-list {
  margin: 0 -15px;
  width: calc(100% + 30px);
  display: flex;
}

.advantage-card {
  background: #FFFFFF;
  padding: 65px 40px 70px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 270px;
  margin: 0 15px;
  width: calc(25% - 30px);
  height: auto;
}

.advantage-card img {
  margin-bottom: 40px;
}

.advantage-card b {
  font-weight: 600;
  font-size: 14px;
  line-height: 135%;
  text-align: center;
  color: #252831;
  margin-bottom: 20px;
}

.advantage-card p {
  font-weight: 400;
  font-size: 12px;
  line-height: 135%;
  text-align: center;
  color: #252831;
}

.advantage-section {
  padding: 75px 0 40px 0;
}

.advantage-container {
  background: #FFFFFF;
  padding: 60px 100px 75px 70px;
  position: relative;
}

.advantage-container h6 {
  font-weight: 600;
  font-size: 22px;
  line-height: 135%;
  color: #252831;
}

.advantage-container-list {
  width: 720px;
  display: flex;
  flex-wrap: wrap;
  margin: 45px -15px -15px -15px;
}

.advantage-container-list li {
  width: calc(50% - 30px);
  margin: 15px;
  position: relative;
  padding-left: 40px;
  font-weight: 400;
  font-size: 12px;
  line-height: 135%;
  color: #252831;
}

.advantage-container-list li:before {
  content: "";
  background: url('../img/icon/check-circle-red.svg') no-repeat center/contain;
  width: 26px;
  height: 26px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.advantage-container img {
  position: absolute;
  right: 35px;
  top: 50%;
  transform: translateY(-50%);
}

.sub-container {
  background: #FFFFFF;
  padding: 45px 70px 50px 100px;
}

.sub-container-title h5 {
  font-weight: 600;
  font-size: 22px;
  line-height: 135%;
  color: #252831;
}

.sub-container-title p {
  font-weight: 400;
  font-size: 16px;
  line-height: 135%;
  color: #7A7A7A;
  margin-top: 24px;
}

.sub-container-form {
  display: flex;
  flex-wrap: wrap;
}

.sub-container-form .form-control {
  width: initial;
  flex: 1;
  margin-right: 20px;
}

.privacy-policy-link p {
  font-weight: 500;
  font-size: 12px;
  line-height: 135%;
  color: #7A7A7A;
}

.privacy-policy-link a {
  text-decoration: underline;
  color: #7A7A7A;
}

.sub-container-form .privacy-policy-link {
  margin-top: 25px;
  padding-left: 25px;
  max-width: 400px;
}

.news-slider-section {
  padding: 135px 0 115px 0;
}

.news-card {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.news-card-img {
  height: 250px;
  width: 100%;
  overflow: hidden;
}

.news-card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.news-card-caption {
  display: flex;
  flex-direction: column;
  flex: 1;
  background: #fff;
  padding: 20px 15px 25px 35px;
  min-height: 200px;
}

.news-slider-wrapper {
  position: relative;
}

.news-card-name {
  margin-bottom: 40px;
}

.news-card-name p {
  font-weight: 600;
  font-size: 16px;
  line-height: 135%;
  color: #252831;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  -webkit-box-orient: vertical;
}

.news-card-bottom {
  display: flex;
  align-items: center;
  margin-top: auto;
}

.news-card-date {
  font-weight: 400;
  font-size: 14px;
  line-height: 135%;
  color: #7A7A7A;
}

.news-card-view {
  margin-left: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 135%;
  color: #7A7A7A;
  position: relative;
  display: flex;
  align-items: center;
}

.news-card-view:before {
  content: '';
  background:  url("../img/icon/eye.svg") no-repeat center/contain;
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

.news-card-link {
  transition: 0.2s ease;
  margin-left: auto;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #252831;
  position: relative;
}

.news-card-link svg {
  margin-left: 5px;
}

.news-card-link svg path {
  transition: 0.2s ease;
}

.news-slider-wrapper {
  position: relative;
}

.news-slider-prev {
  position: absolute;
  left: -60px;
  top: 50%;
  transform: translateY(-50%);
}

.news-slider-next {
  position: absolute;
  right: -60px;
  top: 50%;
  transform: translateY(-50%);
}

.news-section-link {
  margin: 50px auto 0 auto;
}

.client-section {
  padding: 45px 0 65px 0;
}

.client-slider-wrapper {
  position: relative;
}

.client-slider-prev {
  position: absolute;
  left: -60px;
  top: 50%;
  transform: translateY(-50%);
}

.client-slider-next {
  position: absolute;
  right: -60px;
  top: 50%;
  transform: translateY(-50%);
}

.client-btn {
  margin: 80px auto 0 auto;
}

.faq-section {
  padding: 90px 0 160px 0;
}

.faq-card {
  background: #FFFFFF;
}

.faq-card + .faq-card {
  margin-top: 20px;
}

.faq-card-link {
  display: flex;
  width: 100%;
  padding: 20px 30px 20px 45px;
  min-height: 80px;
  font-weight: 600;
  font-size: 16px;
  line-height: 135%;
  color: #252831;
  align-items: center;
}

.faq-card-link:hover {
  color: #252831;
}

.faq-card-link svg {
  margin-left: auto;
  flex-shrink: 0;
  transition: 0.4s ease;
}

.faq-card-link svg path {
  transition: 0.4s ease;
}

.faq-card-link.open svg {
  transform: rotate(-45deg);
  path {
    fill: #7A7A7A;
  }
}

.faq-card-body {
  padding: 10px 100px 50px 45px;
}

.faq-card-body p {
  font-weight: 500;
  font-size: 14px;
  line-height: 135%;
  color: #7A7A7A;
}

.faq-card-body ul {
  list-style-type: disc;
  padding-left: 20px;
}

.faq-card-body li {
  font-weight: 500;
  font-size: 14px;
  line-height: 135%;
  color: #7A7A7A;
}

.modal-lg {
  max-width: 770px;
}

.modal-content {
  border: none;
  border-radius: 0;
}

.modal-lg .modal-body {
  padding: 60px 70px 40px 70px;
}

.modal-title h6 {
  font-weight: 600;
  font-size: 26px;
  line-height: 135%;
  text-align: center;
  color: #252831;
}

.modal-title p {
  font-weight: 400;
  font-size: 16px;
  line-height: 135%;
  color: #7A7A7A;
  margin-top: 14px;
  text-align: center;
}

.modal-body {
  position: relative;
}

.close-modal {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 25px;
  right: 30px;
}

.modal-title {
  margin-bottom: 35px;
}

#form2 .form-control {
  margin-bottom: 14px;
}

.form2-tools {
  margin: 40px auto 0 auto;
  width: 360px;
}

.form-upload-wrapper {
  display: flex;
  align-items: flex-start;
}

.form-upload-wrapper .btn {
  margin-left: 30px;
}

.form2-tools .privacy-policy-link {
  margin-top: 55px;
  text-align: center;
}

.modal-md {
  max-width: 630px;
}

.modal-md .modal-body {
  padding: 60px 95px 45px 95px;
}

#form1 .form-control {
  margin-bottom: 20px;
}

#form1 .btn-danger {
  margin: 40px auto 0 auto;
}

#form1 .privacy-policy-link {
  margin: 20px auto 0 auto;
  text-align: center;
  max-width: 380px;
}

#form3 .form-control {
  margin-bottom: 14px;
}

.form3-tools {
  margin: 40px auto 0 auto;
  width: 360px;
}

.form3-tools .btn {
  margin: 0 auto;
}

.form3-tools .privacy-policy-link {
  margin-top: 30px;
  text-align: center;
}

#form4 .form-control {
  margin-bottom: 30px;
}

#form4 .select-services {
  display: flex;
}

#form4 .select-services .radio-form {
  margin-right: 15px;
  margin-bottom: 10px;
}

#form4 .select-services:first-child {
  margin-right: 15px;
  margin-bottom: 10px;
}

.form4-tools {
  margin-top: 52px;
}

.form4-tools .btn {
  margin: 0 auto;
}

.form4-tools .privacy-policy-link {
  margin: 27px auto 0 auto;
  text-align: center;
}


.client-arrows-xs {
  display: none;
}

.page-title {
  padding-left: 70px;
}

.page-title h2 {
  font-weight: 600;
  font-size: 40px;
  line-height: 65px;
  color: #252831;
  margin-top: 120px;
}

.page-title .breadcrumb {
  margin-top: 80px;
}

.page-title .breadcrumb + h2 {
  margin-top: 20px;
}

.start-history {
  padding-top: 56px;
}

.about-advantage {
  padding-top: 53px;
}

.about-page .about-slider {
  padding-top: 58px;
}

.working-with-us {
  padding-top: 62px;
}

.our-ability {
  padding-top: 45px;
}

.guaranty-section {
  padding-top: 127px;
}

.guaranty-list {
  display: flex;
  flex-wrap: wrap;
}

.guaranty-item {
  width: 50%;
  padding: 0 85px 65px 85px;
}

.guaranty-item img {
  display: block;
  margin: 0 auto;
}

.guaranty-item b {
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
  text-align: center;
  color: #252831;
  margin-top: 30px;
  display: block;
}

.guaranty-item p {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  text-align: center;
  color: #7A7A7A;
  margin-top: 20px;
}

.additional-info {
  padding-top: 115px;
}

.about-page .information-section {
  padding-top: 54px;
}

.information-card-list {
  width: calc(100% + 30px);
  margin: 0 -15px;
}

.information-card {
  width: calc(25% - 30px);
  margin: 0 15px;
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 45px 50px;
  height: auto;
  justify-content: space-between;
}

.information-card b {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #000000;
  margin-bottom: 35px;
}

.information-card img {
  display: block;
  margin: 0 auto 30px auto;
}

.information-card .btn {
  margin: 0 auto;
}

.about-page .service-container {
  margin-top: 100px;
}

.service-container {
  background: #FFFFFF;
  padding: 50px 70px 60px;
}

.service-container h6 {
  font-weight: 600;
  font-size: 26px;
  line-height: 135%;
  color: #252831;
  margin-bottom: 37px;
}

.service-list {
  margin: -10px -7.5px ;
  display: flex;
  flex-wrap: wrap;
}

.service-item {
  margin: 10px 7.5px;
  padding: 15px 25px;
  background: #F4F4F4;
  border-radius: 100px;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #7A7A7A;
}

.about-page .contact-promo {
  padding-top: 49px;
  padding-bottom: 132px;
}

.contact-item-title {
  display: flex;
  align-items: center;
}

.contact-item-title b {
  margin-left: 10px;
  display: inline-block;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  color: #252831;
}

.contact-item-title p {
  display: inline-block;
  margin-left: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #000000;
}

.contact-item-desc {
  margin-top: 23px;
}

.contact-item-desc p {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #7A7A7A;
}

.contact-item-desc p + p {
  margin-top: 15px;
}

.icon-pin {
  background: url("../img/icon/pin.svg");
  width: 30px;
  height: 30px;
}

.icon-email {
  background: url("../img/icon/email.svg");
  width: 30px;
  height: 30px;
}

.icon-phone {
  background: url("../img/icon/phone.svg");
  width: 30px;
  height: 30px;
}

.contact-item {
  display: block;
}

.description-container-caption .contact-item + .contact-item {
  margin-top: 11px;
}

.description-container-caption .contact-item:nth-of-type(2) {
  margin-bottom: 32px;
}

.vacancy-section {
  padding-top: 99px;
}

.vacancy-card-list {
  margin: -24px -15px;
  display: flex;
  flex-wrap: wrap;
}

.vacancy-card {
  width: calc(33.3% - 30px);
  margin: 24px 15px;
  height: auto;
  display: flex;
  flex-direction: column;
}

.vacancy-card-img {
  height: 215px;
  width: 100%;
  overflow: hidden;
}

.vacancy-card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  flex: 1;
}

.vacancy-card-caption {
  background: #fff;
  padding: 34px 53px 54px 52px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.vacancy-card-caption b {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #252831;
  margin-bottom: 35px;
}

.vacancy-card-caption p {
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  text-align: center;
  color: #7A7A7A;
  margin-bottom: 52px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  line-clamp: 5;
  -webkit-box-orient: vertical;
}

.vacancy-card-caption .btn {
  margin: auto auto 0 auto;
}

.vacancy-section-tools {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 48px;
}

.vacancy-section-tools .dropdown-toggle {
  border: 1px solid #CECECE;
  border-radius: 100px;
  background: transparent;
  font-weight: 500;
  font-size: 14px;
  line-height: 30px;
  color: #7A7A7A;
  margin-left: 53px;
  padding: 2.5px 20px;
}

.vacancy-section-tools .dropdown-toggle::after {
  content: url("../img/icon/chevron-down-xs.svg");
  margin-left: 15px;
  vertical-align: initial;
  border: none;
}

.vacancy-section-tools .dropdown-menu {
  border-radius: 20px;
}

.vacancy-feedback-container {
  margin-top: 100px;
  background: #fff;
  padding: 55px 35px 60px;
}

.feedback-container-title .visible-xs {
  display: none;
}

.vacancy-feedback-form {
  display: flex;
  margin: 40px -10px 0 -10px;
  flex-wrap: wrap;
}

.vacancy-feedback-form-item {
  width: calc(20% - 20px);
  margin: 0 10px;
}

.vacancy-feedback-form .btn {
  white-space: nowrap;
}

.vacancy-page .contact-promo {
  margin-top: 65px;
}

.vacancy-page {
  padding-bottom: 200px;
}

.next-vacancy-page {
  display: none;
}

.vacancy-detail-page .page-content {
  padding-top: 80px;
}

.vacancy-detail + .vacancy-detail {
  margin-top: 70px;
}

.vacancy-detail-title p {
  font-weight: 600;
  font-size: 30px;
  line-height: 20px;
  color: #252831;
}

.vacancy-detail-title span {
  color: #B8213C;
}

.vacancy-detail-content {
  margin-top: 50px;
}

.vacancy-detail-content p {
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #252831;
}

.vacancy-detail-content b {
  font-weight: 500;
}

.vacancy-detail-content li {
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #252831;
  position: relative;
  padding-left: 25px;
}

.vacancy-detail-content li:before {
  content: '';
  background: #252831;
  width: 2.5px;
  height: 2.5px;
  border-radius: 50%;
  position: absolute;
  top: 11px;
  left: 10px;
}

.vacancy-detail-page .feedback-container {
  margin-top: 90px;
  padding: 44px 70px 56px 69px;
}

.vacancy-detail-feedback-tools {
  display: flex;
  align-items: center;
}

.vacancy-detail-feedback-tools b {
  font-weight: 500;
  font-size: 14px;
  line-height: 135%;
  color: #252831;
  white-space: nowrap;
}

.vacancy-detail-feedback-tools .upload-form {
  margin-left: 20px;
}

.vacancy-detail-feedback-tools .btn-danger {
  margin-left: 20px;
}

.vacancy-detail-page .contact-promo {
  margin-top: 49px;
}

.vacancy-detail-page {
  padding-bottom: 130px;
}

.calculator-box {
  background: #FFFFFF;
  padding: 45px 70px 57px 70px;
  margin-top: 58px;
}

.calculator-box-title b {
  font-weight: 600;
  font-size: 22px;
  line-height: 135%;
  color: #252831;
}

.calculator-form {
  display: flex;
  margin-top: 48px;
  flex-wrap: wrap;
}

.calculator-form-left {
  width: calc(50% - 35px);
  margin-right: 35px;
}

.calculator-form .form-container + .form-container {
  margin-top: 29px;
}

.calculator-form-right {
  width: calc(50% - 35px);
  margin-left: 35px;
}

.calculator-form-bottom {
  width: 100%;
  margin-top: 44px;
  display: flex;
  align-items: center;
}

.select-cargo-type {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.select-cargo-type .radio-form + .radio-form {
  margin-left: 46px;
}

.calculator-form-bottom .btn {
  margin-left: auto;
  min-width: 230px;
}

.calculate-result {
  margin: 96px auto 0 auto;
  max-width: 1030px;
}

.delivery-route p {
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #252831;
}

.delivery-time {
  margin-top: 100px;
  font-weight: 600;
  font-size: 28px;
  line-height: 135%;
  text-align: center;
  color: #252831;
}

.delivery-detail {
  margin-top: 70px;
}

.delivery-detail-row {
  display: flex;
  border: 1px solid #CECECE;
  border-radius: 100px;
}

.delivery-detail-row + .delivery-detail-row {
  margin-top: 10px;
}

.delivery-detail-data {
  padding: 23px 34px;
}

.delivery-detail-data + .delivery-detail-data {
  border-left: 1px solid #CECECE;
}

.delivery-detail-row .td-1 {
  width: 64%;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #252831;
}

.delivery-detail-row .td-2 {
  width: 18%;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #7A7A7A;
}

.delivery-detail-row .td-3 {
  width: 18%;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #7A7A7A;
}

.delivery-cost {
  font-weight: 600;
  font-size: 22px;
  line-height: 135%;
  text-align: center;
  color: #252831;
  margin-top: 46px;
}

.calculator-regulations {
  margin-top: 134px;
  display: flex;
}

.calculator-regulations-item {
  width: calc(50% - 70px);
}

.calculator-regulations-item + .calculator-regulations-item {
  margin-left: 70px;
}

.calculator-regulations-title p {
  font-weight: 600;
  font-size: 30px;
  line-height: 130%;
  color: #252831;
}

.calculator-regulations-title p span {
  color: #B8213C;
}

.calculator-regulations-list {
  margin-top: 50px;
}

.calculator-regulations-list li {
  font-weight: 400;
  font-size: 14px;
  line-height: 135%;
  color: #7A7A7A;
  position: relative;
  padding-left: 28px;
}

.calculator-regulations-list li.strong {
  font-weight: 500;
  color: #252831;
}

.calculator-regulations-list li + li {
  margin-top: 20px;
}

.calculator-regulations-list li:before {
  content: "";
  background: url('../img/icon/check-circle-blue.svg') no-repeat center/contain;
  width: 18px;
  height: 18px;
  position: absolute;
  left: 0;
  top: 0;
}

.work-scheme-section {
  margin-top: 117px;
}

.work-scheme-container {
  display: flex;
}

.work-scheme-list {
  width: calc(50% - 50px);
  position: relative;
}

.work-scheme-list + .work-scheme-list {
  margin-left: 100px;
}

.work-scheme-item {
  display: flex;
  min-height: 150px;
  position: relative;
}

.work-scheme-item-number {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #B8213C;
  flex-shrink: 0;
  font-weight: 600;
  font-size: 24.5854px;
  line-height: 140%;
  text-align: center;
  color: #FFFFFF;
}

.work-scheme-item-caption {
  margin-left: 30px;
}

.work-scheme-item-caption b {
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  color: #252831;
}

.work-scheme-item-caption p {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #7A7A7A;
  margin-top: 10px;
}

.work-scheme-item + .work-scheme-item {
  margin-top: 25px;
}

.work-scheme-list:before {
  content: '';
  width: 1px;
  height: calc(100% - 110px);
  border: 2px dashed #CECECE;
  position: absolute;
  left: 24px;
  top: 0;
}

.notice-text {
  margin: 140px auto 0 auto;
  max-width: 1030px;
}

.notice-text p {
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #252831;
  text-align: center;
}

.memo-section {
  margin: 100px auto 0 auto;
  max-width: 955px;
}

.memo-list {
  display: flex;
}

.memo-item {
  width: calc(33.3% - 50px);
  text-align: center;
}

.memo-item img {
  display: block;
  margin: 0 auto;
}

.memo-item + .memo-item {
  margin-left: 50px;
}

.memo-item b {
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
  text-align: center;
  color: #252831;
  margin-top: 30px;
  display: block;
}

.calculator-page .about-section {
  margin-top: 197px;
}

.calculator-page .feedback-container {
  margin-top: 48px;
}

.feedback-container-title p {
  font-weight: 400;
  font-size: 14px;
  line-height: 135%;
  color: #252831;
  margin-top: 32px;
}

.feedback-container-title p + p {
  margin-top: 23px;
}

.price-factor {
  margin-top: 129px;
}

.price-factor-list {
  display: flex;
  justify-content: space-around;
}

.price-factor-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 370px;
}

.price-factor-item b {
  margin-top: 30px;
  display: block;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
  color: #252831;
}

.price-factor-item p {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  text-align: center;
  color: #7A7A7A;
  margin-top: 20px;
}

.calculator-instruction {
  margin: 130px auto 0 auto;
  max-width: 1030px;
}

.calculator-instruction-content p {
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #252831;
  margin-bottom: 20px;
}

.calculator-instruction-content ul {
  margin-bottom: 20px;
}

.calculator-instruction-content li {
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #252831;
  position: relative;
  padding-left: 20px;
}

.calculator-instruction-content li:before {
  content: '';
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #B8213C;
  position: absolute;
  left: 0;
  top: 6px;
}

.calculator-instruction-content li + li {
  margin-top: 20px;
}

.calculator-page .service-container {
  margin-top: 105px;
}

.calculator-page .contact-promo {
  margin-top: 58px;
}

.icon-metro {
  background: url("../img/icon/metro.svg");
  width: 25px;
  height: 25px;
}

.icon-dog {
  background: url("../img/icon/dog.svg");
  width: 25px;
  height: 25px;
}

.icon-clock {
  background: url("../img/icon/clock.svg");
  width: 25px;
  height: 25px;
}

.contact-tabs {
  display: flex;
  margin: -10px;
  flex-wrap: wrap;
}

.contact-tabs li {
  margin: 10px;
}

.contact-tabs .nav-link {
  padding: 7.5px 16px;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #7A7A7A;
  border: 1px solid #CECECE;
  border-radius: 100px;
}

.contact-tabs .nav-link.active {
  background: #3451A0;
  border-color: #3451A0;
  color: #fff;
}

.contact-tabs-content {
  margin-top: 33px;
}

.map-container {
  display: flex;
}

.map-caption {
  width: 57%;
  background: #FFFFFF;
  padding: 55px 69px 79px 69px;
}

.map-caption-title b {
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  color: #252831;
}

.map-caption-content {
  display: flex;
  flex-wrap: wrap;
  margin: 38px -15px -20px -15px;
}

.map-caption-content .contact-item {
  width: calc(33.3% - 30px);
  margin: 20px 15px;
}

.map-caption-content {
  .contact-item-title i {
    width: 25px;
    height: 25px;
  }
  .contact-item-title b {
    font-size: 16px;
    line-height: 20px;
  }
  .contact-item-desc {
    margin-top: 9px;
  }
  .contact-item-desc p {
    font-size: 14px;
    line-height: 25px;
  }
}

.map-chart {
  width: 43%;
}

.map-chart iframe {
  width: 100%;
  height: 100%;
  min-height: 475px;
  border: none;
}

.contact-page .page-content {
  padding: 52px 0 125px 0;
}

.employee-section {
  margin-top: 190px;
}

.employee-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.employee-card {
  width: calc(25% - 30px);
  margin: 15px;
}

.employee-card-img {
  height: 280px;
  width: 100%;
}

.employee-card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.employee-card-caption {
  padding: 25px 25px 60px 0;
}

.employee-name {
  font-weight: 600;
  font-size: 18px;
  line-height: 160%;
  color: #252831;
}

.employee-position {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #252831;
  margin-top: 5px;
}

.employee-card-caption .contact-item {
  margin-top: 15px;
}

.employee-card-caption .contact-item-title p {
  font-size: 14px;
  line-height: 150%;
  margin-left: 10px;
}

.employee-card-caption .contact-item-title i {
  width: 20px;
  height: 20px;
}

.employee-card-caption-top {
  padding-bottom: 15px;
  position: relative;
}

.employee-card-caption-top:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 70px;
  height: 2px;
  background: #B8213C;
}

.show-all-employee {
  margin: 0 auto;
}

.vacation-slider-section {
  margin-top: 168px;
}

.vacation-slider-wrapper {
  position: relative;
}

.vacation-slider .vacancy-card {
  margin: 0;
}

.vacation-slider-prev {
  position: absolute;
  left: -60px;
  top: 50%;
  transform: translateY(-50%);
}

.vacation-slider-next {
  position: absolute;
  right: -60px;
  top: 50%;
  transform: translateY(-50%);
}

.contact-page .vacancy-feedback-container {
  margin-top: 37px;
}

.contact-card-wrapper {
  margin-top: 187px;
}

.contact-card-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.contact-card {
  width: calc(33.3% - 30px);
  margin: 15px;
  background: #EDEBE3;
  padding: 46px 32px 64px 50px;
}

.contact-card .contact-item-title i {
  width: 30px;
  height: 30px;
}

.contact-card .contact-item-title b {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-transform: capitalize;
  color: #252831;
}

.contact-card .contact-item-sm {
  margin-top: 15px;
}

.contact-card .contact-item-sm i {
  width: 20px;
  height: 20px;
}

.contact-card .contact-item-sm p {
  font-size: 14px;
  line-height: 150%;
  margin-left: 10px;
}

.news-page .sub-container {
  margin-top: 46px;
}

.news-section {
  margin-top: 128px;
}

.news-tabs {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #D9D9D9;
  width: fit-content;
  margin: 0 auto;
}

.news-tabs .nav-link {
  padding: 0 50px 10px 50px;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  color: #252831;
  position: relative;
}

.news-tabs .nav-link:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  background: #B8213C;
  opacity: 0;
}

.news-tabs .nav-link.active:before {
  opacity: 1;
}

.news-tab-content {
  margin-top: 48px;
}

.news-card-list {
  display: flex;
  flex-wrap: wrap;
  margin: -25px -15px;
}

.news-card-list .news-card {
  width: calc(33.3% - 30px);
  margin: 25px 15px;
}

.news-section-tools {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 48px;
}

.news-section-tools .dropdown-toggle {
  border: 1px solid #CECECE;
  border-radius: 100px;
  background: transparent;
  font-weight: 500;
  font-size: 14px;
  line-height: 30px;
  color: #7A7A7A;
  margin-left: 53px;
  padding: 2.5px 20px;
}

.news-section-tools .dropdown-toggle::after {
  content: url("../img/icon/chevron-down-xs.svg");
  margin-left: 15px;
  vertical-align: initial;
  border: none;
}

.news-section-tools .dropdown-menu {
  border-radius: 20px;
}

.news-page .service-container {
  margin-top: 97px;
}

.news-page .contact-promo {
  margin-top: 65px;
}

.icon-arrow-right {
  background: url("../img/icon/arrow-right-red.svg");
  width: 18px;
  height: 18px;
}

.reference-page .page-content {
  padding: 83px 0 112px 0;
}

.reference-container {
  background: #FFFFFF;
  padding: 55px 207px 52px 58px;
  display: flex;
  align-items: center;
}

.reference-container + .reference-container {
  margin-top: 30px;
}

.reference-container-content {
  margin-left: 86px;
}

.reference-container-title {
  font-weight: 600;
  font-size: 22px;
  line-height: 135%;
  color: #252831;
  margin-bottom: 26px;
}

.reference-item + .reference-item {
  margin-top: 20px;
}

.reference-item-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 135%;
  color: #252831;
  margin-bottom: 10px;
}

.reference-item-list {
  margin: -10px;
  display: flex;
  flex-wrap: wrap;
}

.reference-item-link {
  font-weight: 600;
  font-size: 14px;
  line-height: 135%;
  text-decoration-line: underline;
  color: #29417E;
  margin: 10px;
}

.reference-item-link:hover {
  color: #29417E;
}

.reference-container-content .btn-stroke {
  margin-top: 33px;
}

.reference-page .service-container {
  margin-top: 67px;
}

.reference-page .contact-promo {
  margin-top: 68px;
}

.abbreviation-page .page-content {
  padding: 65px 0 98px 0;
}

.abbreviation-wrapper {
  margin-top: 65px;
}

.abbreviation-wrapper + .abbreviation-wrapper {
  margin-top: 120px;
}

.abbreviation-title {
  font-weight: 600;
  font-size: 28px;
  line-height: 135%;
  text-align: center;
  color: #252831;
  margin-bottom: 72px;
}

.abbreviation-container + .abbreviation-container {
  margin-top: 30px;
}

.abbreviation-container {
  background: #FFFFFF;
  padding: 48px 100px 60px 64px;
  display: flex;
  align-items: center;
  min-height: 225px;
}

.abbreviation-container-number {
  font-weight: 400;
  font-size: 43.2941px;
  line-height: 135%;
  color: #B8213C;
}

.abbreviation-container-content {
  margin-left: 64px;
}

.abbreviation-container-content b {
  font-weight: 600;
  font-size: 22px;
  line-height: 135%;
  color: #252831;
}

.abbreviation-container-content p {
  font-weight: 400;
  font-size: 16px;
  line-height: 135%;
  color: #252831;
  margin-top: 40px;
}

.abbreviation-page .service-container {
  margin-top: 120px;
}

.puzzle-section {
  margin-top: 119px;
}

.puzzle-container {
  display: flex;
  align-items: center;
  background: #FFFFFF;
  padding: 50px 150px 60px 100px;
}

.puzzle-container .contact-item + .contact-item {
  margin-top: 11px;
}

.puzzle-container .contact-item:nth-child(1) {
  margin-bottom: 25px;
}

.puzzle-container-img {
  margin-left: 50px;
}

.geography-page .promo-caption {
  padding: 81px 0 90px 0;
}

.geography-page .promo-caption h1 {
  margin-top: 35px;
}

.geography-page .promo-caption-detail {
  margin-top: 60px;
}

.promo-caption-detail li {
  font-weight: 400;
  font-size: 14px;
  line-height: 135%;
  color: #252831;
  position: relative;
  padding-left: 41px;
}

.promo-caption-detail li + li {
  margin-top: 15px;
}

.promo-caption-detail li:before {
  content: '';
  background: url("../img/icon/check-circle-red.svg") no-repeat center/contain;
  width: 26px;
  height: 26px;
  position: absolute;
  left: 0;
  top: -4px;
}

.geography-page .services-section {
  margin-top: 64px;
}

.card-content {
  position: relative;
  min-height: 605px;
}

.card-content:before {
  content: '';
  background: #F4F3EF;
  filter: blur(25px);
  position: absolute;
  top: -50px;
  left: 0;
  width: 200%;
  height: 120px;
}

.map-detail {
  position: absolute;
  left: 0;
  bottom: 0;
}

.map-detail li + li {
  margin-top: 20px;
}

.map-detail li {
  display: flex;
  align-items: center;
}

.map-detail li span {
  width: 15px;
  height: 15px;
  flex-shrink: 0;
  border-radius: 50%;
  display: block;
}

.map-detail li p {
  margin-left: 17px;
  font-weight: 500;
  font-size: 14px;
  line-height: 135%;
  color: #000000;
}

.geography-page .tariff-feedback-section {
  padding-top: 150px;
}

.card-content img {
  width: 100%;
  height: auto;
}

.product-grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 37px 30px;
  margin-bottom: 160px;
}

.cargo-types-page .product-grid .product-card {
  height: initial;
  min-height: 266px;
  min-width: 25%;
  overflow: hidden;
}

.product-grid .product-card:nth-of-type(1) {
  grid-row-start: 1;
  grid-row-end: 3;
}

.product-grid .product-card:nth-of-type(7) {
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 4;
  grid-column-end: 5;
}

.product-grid .product-card:nth-of-type(8) {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 3;
}

.product-grid .product-card-img img {
  transition: 0.4s ease;
}

.product-grid .product-card:hover .product-card-img img {
  transform: scale(1.1);
}

.product-grid .product-card-number {
  z-index: 1;
}

.cargo-types-page .page-content {
  padding: 86px 0 150px 0;
}

.cargo-types-page .feedback-container {
  margin-top: 60px;
}

.cargo-types-page .service-container {
  margin-top: 90px;
}

.cargo-types-page .contact-promo {
  margin-top: 74px;
}

.cargo-types-page .containers-section {
  padding: 0;
}

.cargo-types-page .news-slider-section {
  padding-bottom: 0;
}

.furniture-deliver {
  margin-top: 50px;
}

.cargo-types-page .containers-section {
  margin-top: 140px;
}

.parts-desc {
  margin-top: 105px;
}

.parts-page .product-section {
  padding-bottom: 0;
}

.cargo-types-page .containers-section {
  margin-top: 100px;
}

.climatic-equipment {
  margin-top: 100px;
}

.heating-page .about-section {
  margin-top: 60px;
}

.equipment-page .work-scheme-list {
  height: fit-content;
}

.order-reason {
  margin-top: 61px;
}

.order-reason .description-container-img {
  padding: 60px 0 40px 0;
}

.order-reason img {
  width: 100%;
  height: auto;
}

.equipment-page .containers-section {
  margin-top: 0;
}

.cargo-types-page .product-card-caption {
  padding: 24px 26px;
}

.cargo-types-page  .product-card-caption p {
  font-size: 16px;
  line-height: 135%;
}

.cargo-types-page  .product-card {
  height: 425px;
}

.shoes-page .advantage-container {
  margin-top: 60px;
}

.railway-bg {
  width: 100%;
  height: auto;
  margin-top: -70px;
}

.service-page .promo-caption-detail {
  margin-top: 60px;
}

.service-page .country-card {
  width: 100%;
  background: #fff;
  height: 100%;
  margin: 0;
}

.feedback-card-xs {
  background: #fff;
  padding: 62px 48px;
  height: 100%;
}

.feedback-card-xs .form-control + .form-control {
  margin-top: 30px;
}

.feedback-card-xs .btn-danger {
  margin-top: 45px;
}

.service-page .card-section {
  margin-top: 120px;
}

.service-page .services-section {
  margin-top: 120px;
}

.service-page .contact-promo {
  margin-top: 60px;
}

.service-page .client-section {
  margin-top: 55px;
}

.advantage-card-lg {
  width: calc(33.3% - 30px);
}

.advantage-card-lg b {
  font-size: 16px;
  line-height: 135%;
}

.advantage-card-lg p {
  font-size: 14px;
  line-height: 135%;
}

.multimodal-page .about-section {
  padding-top: 120px;
}

.multimodal-page {
  padding-bottom: 120px;
}

.export-bg {
  margin-top: -50px;
}

.export-page .promo-card-section {
  margin-top: 60px;
}

.promo-card {
  position: relative;
  height: 100%;
}

.promo-card:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}

.promo-card img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.promo-card-caption {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.promo-card-caption h6 {
  font-weight: 600;
  font-size: 24px;
  line-height: 135%;
  color: #FFFFFF;
  position: relative;
}

.promo-card-caption p {
  position: relative;
  font-weight: 400;
  font-size: 14px;
  line-height: 135%;
  color: #FFFFFF;
  padding-left: 41px;
}

.promo-card-caption p:before {
  content: '';
  background: url("../img/icon/check-circle-white.svg") no-repeat center/contain;
  width: 26px;
  height: 26px;
  position: absolute;
  left: 0;
  top: -3.5px;
}

.export-page .promo-card-caption {
  padding: 63px 70px 56px 72px;
}

.export-page .promo-card-caption p {
  margin-top: 32px;
  margin-bottom: 37px;
}

.export-page .promo-card-caption .btn {
  margin-top: auto;
}

.stage-list {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.stage-item {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.stage-number {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  flex-shrink: 0;
  background: #B8213C;
  font-weight: 600;
  font-size: 24.5854px;
  line-height: 140%;
  text-align: center;
  color: #FFFFFF;
}

.stage-item p {
  margin-top: 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #252831;
}

.stage-list + .stage-list {
  margin-top: 110px;
}

.stage-list:before {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 23px;
  border: 2px dashed #CECECE;
  width: calc(100% - 230px);
}

.export-page .stage-section {
  margin-top: 170px;
}

.export-page .containers-section {
  padding-top: 150px;
}

.export-page .export-regions {
  margin-top: 100px;
}

.exporter-row {
  border: 1px solid #CECECE;
  border-radius: 100px;
  display: flex;
}

.exporter-data {
  padding: 18px 15px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.exporter-data + .exporter-data {
  border-left: 1px solid #CECECE;
}

.exporter-item .exporter-data {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #252831;
  align-items: center;
}

.exporter-head .exporter-data {
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  color: #252831;
  align-items: center;
}

.exporter-list {
  .td-1 {
    width: 20%;
  }
  .td-2 {
    width: 20%;
  }
  .td-3 {
    width: 20%;
  }
  .td-4 {
    width: 17%;
  }
  .td-5 {
    width: 23%;
  }
}

.exporter-row + .exporter-row {
  margin-top: 10px;
}

.export-page .about-section {
  padding-top: 100px;
}

.service-page .promo-caption {
  position: relative;
  z-index: 1;
}

.section-title h6 {
  font-weight: 600;
  font-size: 22px;
  line-height: 135%;
  text-align: center;
  color: #252831;
}

.arrow-right-white {
  background: url("../img/icon/arrow-right-white.svg");
  width: 18px;
  height: 18px;
}

.kaz-page .promo-caption {
  max-width: 600px;
}

.trains-bg {
  margin-top: 50px;
}

.kaz-page .promo-card-section .section-title {
  margin-bottom: 55px;
}

.city-promo .promo-card-caption {
  padding: 35px 50px;
  min-height: 205px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.city-promo-list {
  margin-bottom: 60px;
}

.city-list {
  margin: -10px auto;
  display: flex;
  flex-wrap: wrap;
  max-width: 940px;
}

.city-list li {
  border: 1px solid #B8213C;
  border-radius: 100px;
  padding: 15px 25px;
  width: fit-content;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #B8213C;
  margin: 10px;
}

.kaz-page .feedback-card {
  .form-control + .form-control {
    margin-top: 20px;
  }
  .feedback-card-form {
    margin-top: 35px;
  }
}

.kaz-page .container-card {
  ul {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 40px;
  }
  ul li + li {
    margin-left: 50px;
  }
  ul p {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    text-align: center;
    color: #7A7A7A;
    margin: 0;
  }
  ul b {
    font-weight: 600;
    font-size: 14px;
    line-height: 140%;
    text-align: center;
    color: #252831;
    margin-bottom: 5px;
    display: block;
  }
}

.container-card-promo {
  padding-bottom: 0;
}

.special-conditions {
  margin-top: 150px;
}

.special-conditions {
  .promo-card-caption {
    padding: 50px 70px;
    min-height: 295px;
    justify-content: flex-end;
  }
  .promo-card-caption .btn-stroke-white {
    margin-top: 30px;
  }
}

.kaz-page .service-container {
  margin-top: 60px;
}

.customs-bg {
  margin-top: 100px;
  display: block;
  margin-left: auto;
}

.notice-container {
  display: flex;
  background: #FFFFFF;
  align-items: center;
  padding: 40px 100px;
}

.notice-container-caption {
  width: 65%;
}

.notice-container-caption b {
  font-weight: 600;
  font-size: 22px;
  line-height: 135%;
  color: #252831;
}

.notice-container-img {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.notice-container-img img {
  display: block;
}

.customs-page .notice-container {
  margin-top: 140px;
}

.customs-page .stage-section {
  margin-top: 120px;
}

.customs-payments {
  margin-top: 120px;
}

.customs-payments-card-list {
  display: flex;
  margin: 0 -15px;
  width: calc(100% + 30px);
}

.customs-payments-card {
  width: calc(25% - 30px);
  margin: 0 15px;
  background: #FFFFFF;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
}

.customs-payments-card b {
  margin-top: 35px;
  font-weight: 600;
  font-size: 16px;
  line-height: 135%;
  text-align: center;
  color: #252831;
  margin-bottom: 18px;
}

.customs-payments-card p {
  font-weight: 400;
  font-size: 14px;
  line-height: 135%;
  text-align: center;
  color: #252831;
  vertical-align: center;
  display: flex;
  align-items: center;
}

.customs-payments-card p + p {
  margin-top: 15px;
}

.customs-payments-card p span {
  color: #B8213C;
  font-size: 45px;
  line-height: 19px;
  display: inline-block;
  height: fit-content;
}

.brackets {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.brackets:before {
  content: '';
  background: url("../img/icon/bracket-left.png") no-repeat center/contain;
  height: calc(100% + 30px);
  width: 25px;
  position: absolute;
  top: -20px;
  left: -25px;
}

.brackets:after {
  content: '';
  background: url("../img/icon/bracket-right.png") no-repeat center/contain;
  height: calc(100% + 30px);
  width: 25px;
  position: absolute;
  top: -20px;
  right: -25px;
}

.customs-payments-card p + .brackets {
  margin-top: 15px;
}

.customs-payments-card .brackets + p {
  margin-top: 15px;
}

.customs-page .sub-container {
  margin-top: 100px;
}

.customs-page .description-container {
  margin-top: 60px;
}

.forwarding-page .promo-caption {
  padding-bottom: 225px;
}

.forwarding-page .description-container {
  margin-top: 60px;
}

.forwarding-page .about-section {
  margin-top: 60px;
}

.forwarding-page {
  .advantage-card {
    justify-content: flex-start;
  }
  .advantage-card-lg b {
    margin-bottom: 45px;
  }
}

.forwarding-page .sub-container {
  margin-top: 100px;
}

.container-page .country-card {
  width: calc(33.3% - 30px);
  margin: 15px;
  height: auto;
}

.container-page .country-card-img {
  height: 180px;
}

.container-page .country-card-caption {
  padding: 23px 20px 30px 35px;
}

.container-page .country-card-name p {
  font-size: 20px;
  line-height: 135%;
}

.container-page .country-card-list {
  flex-wrap: wrap;
}

.not-found-page .page-content {
  height: 100%;
}

.not-found-container {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 134px 0 119px 65px;
}

.not-found-title {
  font-weight: 600;
  font-size: 50px;
  line-height: 65px;
  color: #252831;
}

.not-found-desc {
  margin-top: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #252831;
}

.not-found-caption .btn-danger {
  margin-top: 40px;
}

.page-links {
  margin-top: 25px;
}

.page-links p {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #252831;
}

.page-links ul {
  margin: 11px -10px -6px -10px;
  display: flex;
  flex-wrap: wrap;
}

.page-links li {
  margin: 6px 10px;
}

.page-links a {
  padding: 7.5px 16px;
  border: 1px solid #7A7A7A;
  border-radius: 100px;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #7A7A7A;
}

.page-links a:hover {
  color: #7A7A7A;
}


@import "media";